# Aim: Gain insight into badminton stats in Canada. 
Dashboard link:

https://public.tableau.com/views/BadmintonCanada2014-2022stats/Dashboard1?:language=en-GB&:display_count=n&:origin=viz_share_link

DATA COLLECTION:
    All data has been taken from https://www.badminton.ca
        
        Collected data:
            Ranking at end of each year (2014-2022) in the following categories:
                Men's singles (MS)
                Women's singles (WS)
                Men's doubles (MD)
                Women's doubles (WD)
                Mixed doubles (XD)

In [ ]:
# Code used for data collection

In [ ]:
'''

def return_url_table(input_url,folder_path=os.getcwd()):

    url = input_url

    # Assign the table data to a Pandas dataframe
    table = pd.read_html(url)[0]
    
    return table


categories = ['Men singles', 'Women singles', 'Men doubles', 'Women doubles', 'Mixed doubles' ]
category_ids = [151, 152, 153, 154, 155]
years = [str(2014+i) for i in range(9)]
year_ids = [8088, 10270, 12551, 16288, 19570, 22914, 24124, 28375, 32753]

numberofpages = 0
for i in range(len(categories)):
    f = pd.DataFrame()
    print(i)
    for j in range(len(years)):
        temp = return_url_table('https://www.badminton.ca/ranking/category.aspx?id='+str(year_ids[j])+'&category='+str(category_ids[i])+'&p=1&ps=100')
        numberofpages = int(temp.iloc[-1, 0][10])
        for k in range(1, numberofpages+1):
            t = return_url_table('https://www.badminton.ca/ranking/category.aspx?id='+str(year_ids[j])+'&category='+str(category_ids[i])+'&p='+str(k)+'&ps=100')
            f = pd.concat((f, t), axis = 0)
        
    f.to_excel(categories[i]+'.xlsx')

'''

In [ ]:
# Code for extra tournaments' stat for future analysis!

In [ ]:
'''
f = pd.DataFrame()
for j in range(len(years)):
    t = return_url_table('https://www.badminton.ca/ranking/tournaments.aspx?id='+str(year_ids[j]))
    f = pd.concat((f, t), axis = 0)

f.to_excel('tounamentsovertheyears'+'.xlsx')
'''

DATA EXPLORATION AND CLEANING!

In [45]:
import os
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [46]:
file = pd.read_excel('Mixed doubles.xlsx')
file

,Unnamed: 0,Local Rank,Local Rank.1,Unnamed: 2,Rank,Rank.1,Unnamed: 5,Player,Unnamed: 7,Member ID,Points,Tournaments,Club
0,0,1,2,NaN,1,2,NaN,Henry WiebeGrace Gao,NaN,AB06646AB00273,10180,4,NaN
1,1,2,1,NaN,2,1,NaN,Philippe CharronPhyllis Chan,NaN,QC01861BC1469,10160,5,NaN
2,2,3,1,NaN,3,1,NaN,Toby NgAlex Bruce,NaN,BC0746ON420,8370,4,NaN
3,3,4,NaN,NaN,4,NaN,NaN,Nyl YakuraBrittney Tam,NaN,ON2798ON7128,7620,5,NaN
4,4,5,NaN,NaN,5,NaN,NaN,Maxime MarinSt√©phanie Pakenham,NaN,QC3170QC01811,6240,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619,59,256,NaN,NaN,256,NaN,NaN,Denzel SimonsMohyna DeRaj,NaN,MB09273MB09693,157,1,Winnipeg Winter Club
2620,60,256,NaN,NaN,256,NaN,NaN,Duyen NguyenMikko Syfu,NaN,MB08803MB08632,157,1,Prairie Badminton
2621,61,256,NaN,NaN,256,NaN,NaN,Veronica LauNikolas Kimadden Esquash,NaN,MB36083MB12680,157,1,Not Club-Affiliated: WinnipegWinnipeg Winter Club
2622,62,256,NaN,NaN,256,NaN,NaN,Ruwenize MercadoMarco Tsz Him Chan,NaN,MB36080MB09267,157,1,Prairie Badminton
2623,63,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...

In [47]:
file.describe(include = 'all')

,Unnamed: 0,Local Rank,Local Rank.1,Unnamed: 2,Rank,Rank.1,Unnamed: 5,Player,Unnamed: 7,Member ID,Points,Tournaments,Club
count,2624.000000,2624,1107,32,2624,1107,32,2624,32,2624,2624,2624,2507
unique,NaN,313,110,32,313,110,32,1755,32,1756,486,41,894
top,NaN,338,5,Page 1 of 2 - 127 results1|2|NextLastResults p...,338,5,Page 1 of 2 - 127 results1|2|NextLastResults p...,Thien Quan Nicolas NguyenAlexandra Mocanu,Page 1 of 2 - 127 results1|2|NextLastResults p...,QC4639QC3974,262,1,CB Rouge et Or
freq,NaN,68,178,1,68,178,1,8,1,8,305,1946,141
mean,47.360137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,29.321939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,21.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,73.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2624 non-null   int64
 1   Local Rank    2624 non-null   object
 2   Local Rank.1  1107 non-null   object
 3   Unnamed: 2    32 non-null     object
 4   Rank          2624 non-null   object
 5   Rank.1        1107 non-null   object
 6   Unnamed: 5    32 non-null     object
 7   Player        2624 non-null   object
 8   Unnamed: 7    32 non-null     object
 9   Member ID     2624 non-null   object
 10  Points        2624 non-null   object
 11  Tournaments   2624 non-null   object
 12  Club          2507 non-null   object
dtypes: int64(1), object(12)
memory usage: 266.6+ KB

In [49]:
# Removal of extra columns and addition of year, average points scored per tournament, separation of MemberID and 
# Player names for doubles category.

In [50]:
lengthoflocalrank = file["Rank"].str.len()
file['lenstr'] = lengthoflocalrank

In [51]:
file_up = pd.concat((file['Rank'], file['Player'],file.iloc[:, -5:]), axis=1)
file_up

,Rank,Player,Member ID,Points,Tournaments,Club,lenstr
0,1,Henry WiebeGrace Gao,AB06646AB00273,10180,4,NaN,1
1,2,Philippe CharronPhyllis Chan,QC01861BC1469,10160,5,NaN,1
2,3,Toby NgAlex Bruce,BC0746ON420,8370,4,NaN,1
3,4,Nyl YakuraBrittney Tam,ON2798ON7128,7620,5,NaN,1
4,5,Maxime MarinSt√©phanie Pakenham,QC3170QC01811,6240,4,NaN,1
...,...,...,...,...,...,...,...
2619,256,Denzel SimonsMohyna DeRaj,MB09273MB09693,157,1,Winnipeg Winter Club,3
2620,256,Duyen NguyenMikko Syfu,MB08803MB08632,157,1,Prairie Badminton,3
2621,256,Veronica LauNikolas Kimadden Esquash,MB36083MB12680,157,1,Not Club-Affiliated: WinnipegWinnipeg Winter Club,3
2622,256,Ruwenize MercadoMarco Tsz Him Chan,MB36080MB09267,157,1,Prairie Badminton,3
2623,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,69

In [52]:
year = [0 for i in range(len(file_up['Rank']))]

In [55]:
te = 2014
for i in range(len(file_up['Rank'])):
    year[i] = te
    if i==len(file_up['Rank'])-1:
        #print(i)
        break
    if (file_up['lenstr'][i]>30) and (file_up['Rank'][i+1]=='1'):
        #print(te)
        te+=1

In [56]:
file_up['Year'] = year
file_up

,Rank,Player,Member ID,Points,Tournaments,Club,lenstr,Year
0,1,Henry WiebeGrace Gao,AB06646AB00273,10180,4,NaN,1,2014
1,2,Philippe CharronPhyllis Chan,QC01861BC1469,10160,5,NaN,1,2014
2,3,Toby NgAlex Bruce,BC0746ON420,8370,4,NaN,1,2014
3,4,Nyl YakuraBrittney Tam,ON2798ON7128,7620,5,NaN,1,2014
4,5,Maxime MarinSt√©phanie Pakenham,QC3170QC01811,6240,4,NaN,1,2014
...,...,...,...,...,...,...,...,...
2619,256,Denzel SimonsMohyna DeRaj,MB09273MB09693,157,1,Winnipeg Winter Club,3,2022
2620,256,Duyen NguyenMikko Syfu,MB08803MB08632,157,1,Prairie Badminton,3,2022
2621,256,Veronica LauNikolas Kimadden Esquash,MB36083MB12680,157,1,Not Club-Affiliated: WinnipegWinnipeg Winter Club,3,2022
2622,256,Ruwenize MercadoMarco Tsz Him Chan,MB36080MB09267,157,1,Prairie Badminton,3,2022
2623,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,Page 3 of 3 - 263 resultsFirstPrevious|1|2|3Re...,69,2022

In [57]:
file_up = file_up[file_up['lenstr']<50]
file_up['Avg per tourn'] = (file_up['Points']).astype(int)//(file_up['Tournaments']).astype(int)

state = [0 for i in range(len(file_up['Rank']))]

for i in range(len(file_up['Rank'])):
    state[i] = file_up['Member ID'].iloc[i][:2]

file_up['State'] = state
file_up

C:\Users\rraj\AppData\Local\Temp/ipykernel_46068/564141153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_up['Avg per tourn'] = (file_up['Points']).astype(int)//(file_up['Tournaments']).astype(int)
C:\Users\rraj\AppData\Local\Temp/ipykernel_46068/564141153.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_up['State'] = state

,Rank,Player,Member ID,Points,Tournaments,Club,lenstr,Year,Avg per tourn,State
0,1,Henry WiebeGrace Gao,AB06646AB00273,10180,4,NaN,1,2014,2545,AB
1,2,Philippe CharronPhyllis Chan,QC01861BC1469,10160,5,NaN,1,2014,2032,QC
2,3,Toby NgAlex Bruce,BC0746ON420,8370,4,NaN,1,2014,2092,BC
3,4,Nyl YakuraBrittney Tam,ON2798ON7128,7620,5,NaN,1,2014,1524,ON
4,5,Maxime MarinSt√©phanie Pakenham,QC3170QC01811,6240,4,NaN,1,2014,1560,QC
...,...,...,...,...,...,...,...,...,...,...
2618,256,Brandon YimPaisley Poirier,MB08946MB09030,157,1,Prairie Badminton,3,2022,157,MB
2619,256,Denzel SimonsMohyna DeRaj,MB09273MB09693,157,1,Winnipeg Winter Club,3,2022,157,MB
2620,256,Duyen NguyenMikko Syfu,MB08803MB08632,157,1,Prairie Badminton,3,2022,157,MB
2621,256,Veronica LauNikolas Kimadden Esquash,MB36083MB12680,157,1,Not Club-Affiliated: WinnipegWinnipeg Winter Club,3,2022,157,MB
2622,256,Ruwenize MercadoMarco Tsz Him Chan,MB36080MB09267,157,1,Prairie Badminton,3,2022,157,MB

In [58]:
pl1 = ['a' for i in range(len(file_up['Rank']))]
pl2 = ['b' for i in range(len(file_up['Rank']))]
for i in range(len(file_up['Player'])):
    #print(i)
    for j in range(len(file_up['Player'].iloc[i])-1):
        #print(j)
        if ord(file_up['Player'].iloc[i][j])>96 and 64<ord(file_up['Player'].iloc[i][j+1])<92:
            pl1[i] = file_up['Player'].iloc[i][:j+1]
            pl2[i] = file_up['Player'].iloc[i][j+1:]
            #print('ckeck')
            break
        if ord(file_up['Player'].iloc[i][j])>96 and 125<ord(file_up['Player'].iloc[i][j+1]):
            pl1[i] = file_up['Player'].iloc[i][:j+1]
            pl2[i] = file_up['Player'].iloc[i][j+1:]
            #print('ckeck')
            break

            
file_up['Player1'] = pl1
file_up['Player2'] = pl2
file_up

C:\Users\rraj\AppData\Local\Temp/ipykernel_46068/538064744.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_up['Player1'] = pl1
C:\Users\rraj\AppData\Local\Temp/ipykernel_46068/538064744.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_up['Player2'] = pl2

,Rank,Player,Member ID,Points,Tournaments,Club,lenstr,Year,Avg per tourn,State,Player1,Player2
0,1,Henry WiebeGrace Gao,AB06646AB00273,10180,4,NaN,1,2014,2545,AB,Henry Wiebe,Grace Gao
1,2,Philippe CharronPhyllis Chan,QC01861BC1469,10160,5,NaN,1,2014,2032,QC,Philippe Charron,Phyllis Chan
2,3,Toby NgAlex Bruce,BC0746ON420,8370,4,NaN,1,2014,2092,BC,Toby Ng,Alex Bruce
3,4,Nyl YakuraBrittney Tam,ON2798ON7128,7620,5,NaN,1,2014,1524,ON,Nyl Yakura,Brittney Tam
4,5,Maxime MarinSt√©phanie Pakenham,QC3170QC01811,6240,4,NaN,1,2014,1560,QC,Maxime Marin,St√©phanie Pakenham
...,...,...,...,...,...,...,...,...,...,...,...,...
2618,256,Brandon YimPaisley Poirier,MB08946MB09030,157,1,Prairie Badminton,3,2022,157,MB,Brandon Yim,Paisley Poirier
2619,256,Denzel SimonsMohyna DeRaj,MB09273MB09693,157,1,Winnipeg Winter Club,3,2022,157,MB,Denzel Simons,Mohyna DeRaj
2620,256,Duyen NguyenMikko Syfu,MB08803MB08632,157,1,Prairie Badminton,3,2022,157,MB,Duyen Nguyen,Mikko Syfu
2621,256,Veronica LauNikolas Kimadden Esquash,MB36083MB12680,157,1,Not Club-Affiliated: WinnipegWinnipeg Winter Club,3,2022,157,MB,Veronica Lau,Nikolas Kimadden Esquash
2622,256,Ruwenize MercadoMarco Tsz Him Chan,MB36080MB09267,157,1,Prairie Badminton,3,2022,157,MB,Ruwenize Mercado,Marco Tsz Him Chan

In [59]:
pl1id = [ 'mid' for i in range(len(file_up['Member ID']))]
pl2id = [ 'mid' for i in range(len(file_up['Member ID']))]
for i in range(len(file_up['Member ID'])):
    #print(i)
    n = len(file_up['Member ID'].iloc[i])
    for j in range(n-1):
    #print(j)
        if ord(file_up['Member ID'].iloc[i][j])<60 and 60<ord(file_up['Member ID'].iloc[i][j+1]):
            pl1id[i] = file_up['Member ID'].iloc[i][:j+1]
            pl2id[i] = file_up['Member ID'].iloc[i][j+1:]
            #print('ckeck')
            break

In [60]:
file_up['Player 1 ID'] = pl1id
file_up['Player 2 ID'] = pl2id

C:\Users\rraj\AppData\Local\Temp/ipykernel_46068/1811409962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_up['Player 1 ID'] = pl1id
C:\Users\rraj\AppData\Local\Temp/ipykernel_46068/1811409962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_up['Player 2 ID'] = pl2id

In [61]:
file_up

,Rank,Player,Member ID,Points,Tournaments,Club,lenstr,Year,Avg per tourn,State,Player1,Player2,Player 1 ID,Player 2 ID
0,1,Henry WiebeGrace Gao,AB06646AB00273,10180,4,NaN,1,2014,2545,AB,Henry Wiebe,Grace Gao,AB06646,AB00273
1,2,Philippe CharronPhyllis Chan,QC01861BC1469,10160,5,NaN,1,2014,2032,QC,Philippe Charron,Phyllis Chan,QC01861,BC1469
2,3,Toby NgAlex Bruce,BC0746ON420,8370,4,NaN,1,2014,2092,BC,Toby Ng,Alex Bruce,BC0746,ON420
3,4,Nyl YakuraBrittney Tam,ON2798ON7128,7620,5,NaN,1,2014,1524,ON,Nyl Yakura,Brittney Tam,ON2798,ON7128
4,5,Maxime MarinSt√©phanie Pakenham,QC3170QC01811,6240,4,NaN,1,2014,1560,QC,Maxime Marin,St√©phanie Pakenham,QC3170,QC01811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2618,256,Brandon YimPaisley Poirier,MB08946MB09030,157,1,Prairie Badminton,3,2022,157,MB,Brandon Yim,Paisley Poirier,MB08946,MB09030
2619,256,Denzel SimonsMohyna DeRaj,MB09273MB09693,157,1,Winnipeg Winter Club,3,2022,157,MB,Denzel Simons,Mohyna DeRaj,MB09273,MB09693
2620,256,Duyen NguyenMikko Syfu,MB08803MB08632,157,1,Prairie Badminton,3,2022,157,MB,Duyen Nguyen,Mikko Syfu,MB08803,MB08632
2621,256,Veronica LauNikolas Kimadden Esquash,MB36083MB12680,157,1,Not Club-Affiliated: WinnipegWinnipeg Winter Club,3,2022,157,MB,Veronica Lau,Nikolas Kimadden Esquash,MB36083,MB12680
2622,256,Ruwenize MercadoMarco Tsz Him Chan,MB36080MB09267,157,1,Prairie Badminton,3,2022,157,MB,Ruwenize Mercado,Marco Tsz Him Chan,MB36080,MB09267

In [ ]:
'''

Conversion of all state names to uppercase

temp['State'] = temp['State'].str.upper()

Player 2 = Player 1 for singles categories!

for i in range(len(temp['Year'])):
    if temp['Player1'].iloc[i] == 'Unk':
        temp['Player1'].iloc[i] = temp['Player'].iloc[i]
        temp['Player2'].iloc[i] = temp['Player'].iloc[i]
        temp['Player 1 ID'].iloc[i] = temp['Member ID'].iloc[i]
        temp['Player 2 ID'].iloc[i] = temp['Member ID'].iloc[i]
        
temp = temp.fillna('Unk')

'''

In [ ]:
# The above procedure was applied for all categories!
# The dataframes from all categories were combined and used as input file for Tableau dashboard!